.card{
    background-color: #242424;
    border: 8px solid #e9e55d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.card-name{
  text-transform: capitalize;
  font-size: 24px;
}

.card:hover{
  background-color: #2e2e2e;
  cursor: pointer;
}

.card:active{
  background-color: #3d3d3d;
}